In [1]:
import pandas as pd

In [2]:
#def olympic_crud():

In [3]:
df_athlete = pd.read_csv("../Project2/data/athlete_events.csv")

In [4]:
df_athlete.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
df_noc = pd.read_csv("../Project2/data/noc_regions.csv")

In [ ]:
df_noc.head()

In [ ]:
athlete_noc_pd = pd.merge(df_athlete, df_noc, on='NOC', how='outer')

In [ ]:
athlete_noc_pd.head(100)

In [ ]:
athlete_noc_pd = athlete_noc_pd.rename(columns={'region': 'Country'})

In [ ]:
athlete_noc_pd[['Medal']] = athlete_noc_pd[['Medal']].fillna(value=0)

In [ ]:
df_latlng = pd.read_csv("../Project2/data/Countries_LatLng.csv")

In [ ]:
df_latlng.head()

In [ ]:
athlete_noc_latlng_pd = pd.merge(athlete_noc_pd, df_latlng, on='Country', how='outer')

In [ ]:
athlete_noc_latlng_pd.head(271117)

In [ ]:
athlete_noc_latlng_pd = athlete_noc_latlng_pd.set_index('ID')

In [ ]:
athlete_noc_latlng_pd.head()

In [ ]:
athlete_noc_latlng_pd = athlete_noc_latlng_pd.drop(["notes", "Lat", "Lng"], axis=1)

In [ ]:
athlete_noc_latlng_pd = athlete_noc_latlng_pd.rename(columns={'Latitude (generated)': 'Lat'})

In [ ]:
athlete_noc_latlng_pd = athlete_noc_latlng_pd.rename(columns={'Longitude (generated)': 'Lng'})

In [ ]:
athlete_noc_latlng_pd.to_csv('../Project2/data/athlete_noc.csv')

In [ ]:
athlete_noc_latlng_pd = athlete_noc_latlng_pd.reset_index()
athlete_noc_latlng_pd.head()

In [ ]:
athlete_noc_latlng_pd = athlete_noc_latlng_pd[athlete_noc_latlng_pd.Medal != 0]
athlete_noc_latlng_pd.head()

In [ ]:
athlete_noc_latlng_pd.to_csv('../Project2/data/athlete_noc.csv')

In [ ]:
athlete_noc_latlng_pd.iloc[0,3]

In [ ]:
athlete_noc_latlng_pd.dtypes

In [ ]:
athlete_noc_latlng_pd = athlete_noc_latlng_pd.astype(str)
athlete_noc_latlng_pd.dtypes

In [ ]:
olympics_list = []
# define a placeholder for saved variables
olympics_dict = {}
olympics_dict_all = {}

In [ ]:
for i in range(len(athlete_noc_latlng_pd)):
    olympics_dict["id"] = athlete_noc_latlng_pd.iloc[i,0]
    olympics_dict["name"] = athlete_noc_latlng_pd.iloc[i,1]
    olympics_dict["sex"] = athlete_noc_latlng_pd.iloc[i,2]
    olympics_dict["age"] = athlete_noc_latlng_pd.iloc[i,3]
    olympics_dict["height"] = athlete_noc_latlng_pd.iloc[i,4]
    olympics_dict["weight"] = athlete_noc_latlng_pd.iloc[i,5]
    olympics_dict["team"] = athlete_noc_latlng_pd.iloc[i,6]
    olympics_dict["noc"] = athlete_noc_latlng_pd.iloc[i,7]
    olympics_dict["games"] = athlete_noc_latlng_pd.iloc[i,8]
    olympics_dict["year"] = athlete_noc_latlng_pd.iloc[i,9]
    olympics_dict["season"] = athlete_noc_latlng_pd.iloc[i,10]
    olympics_dict["city"] = athlete_noc_latlng_pd.iloc[i,11]
    olympics_dict["sport"] = athlete_noc_latlng_pd.iloc[i,12]
    olympics_dict["event"] = athlete_noc_latlng_pd.iloc[i,13]
    olympics_dict["medal"] = athlete_noc_latlng_pd.iloc[i,14]
    olympics_dict["country"] = athlete_noc_latlng_pd.iloc[i,15]
    olympics_dict["lat"] = athlete_noc_latlng_pd.iloc[i,16]
    olympics_dict["lng"] = athlete_noc_latlng_pd.iloc[i,17]
    olympics_list.append(olympics_dict)
    #olympics_dict.update(olympics_dict)
    olympics_dict = {}

In [ ]:
print(olympics_list)

In [ ]:
len(olympics_list)

In [ ]:
olympics_list[0:10]

In [ ]:
#return olympics_list
olympics_dict_all = {}
olympics_dict_all["all_data"] = olympics_list

In [ ]:
olympics_dict_all["all_data"]

In [ ]:
olympics_dict_all